<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.kodestudio.ide">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission	android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:allowBackup="true"
		android:label="Kode Studio"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".CodeActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".DebugwebActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".NewfileActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ConsoleActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ProjectActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ProjectCodeActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".RunActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".FolderActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".VideoActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PictureActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".NewprojectActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".BrowserActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".ViewCodeActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".JsonEditActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden"/>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
